name: Previsão de ações
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8.16
      uses: actions/setup-python@v1
      with:
        python-version: 3.8.16

    - name: Install dependencies
      run: |
        make install
    - name: Lint
      run: |
        make lint
        
    - name: Format
      run: |
        make format
    - name: Clean
      run: |
        make clean
